.activities {
    padding: 100px 0;
    &_block {
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .activity {
        display: flex;
        gap: 36px;
        &_left{
            width: 33.33%;
        }
        &_right{
            width: calc(66.66% - 36px);
        }
    }
}