.header{
    margin-top: 40px;
    position: relative;
    z-index: 999;
    .hamburger_menu{
        display: none;
    }
    &_block{
        background-color: $brown_light;
        border-radius: 15px;
        padding: 10px 10px 10px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .menus_overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
        z-index: 999;
        &.active {
          opacity: 1;
          visibility: visible;
        }
    }
    &_menus{
        display: flex;
        align-items: center;
        gap: 4px;
        .close{
            display: none;
        }
        a{
            color: $white;
            font-family: Gilroy;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px; /* 180% */
            transition: all .3s ease;
            padding: 2px 20px;
            border-radius: 8px;
            &:hover{
                background-color: $brown_hower;
            }
            &.active{
                background-color: $brown_hower;
            }
        }
    }
    &_contact{
       a{
        background-color: $brown_dark;
        border-radius: 8px;
        padding: 2px 20px;
        color: $white;
        font-family: Gilroy;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 36px; /* 180% */
       }
    }
}