.letters{
    &_block{
        background-color: $white;
        border-radius: 30px;
        padding: 60px 72px 80px;
    }
    .awards_left{
        width: 31%;
    }
    .awards_right{
        width: calc(69% - 36px);
    }
    .award_img_box{
        background-color: $rey_bg;
    }
}