html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: " ";
	content: none;
}

.container-fluid {
	margin: 0;
	padding: 0;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
	display: inline-block;
}

/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

html {
	&::-webkit-scrollbar {
		background-color: #000;
		width: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #da1a00;
		width: 3px;
	}
}



/* ======= Variables ========== */

// colors
$black: #29292E;
$white: #FFF;
$grey_text: #676771;
$rey_bg: #F5F5F5;
$brown_light: #AD937B;
$brown_dark: #947E69;
$brown_hower: #8C7764;

// headings
h1 {
	color: $black;
	font-family: Gilroy;
	font-size: 80px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

h2 {
	color: $black;
	font-family: Gilroy;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: 54px;
	/* 135% */
}

h3 {
	color: $black;
	font-family: Gilroy;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: 36px;
	/* 138.462% */
}

h4 {
	color: $black;
	font-family: Gilroy;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: 36px;
	/* 138.462% */
}

h5 {
	color: $black;
	font-family: Gilroy;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;

	/* 160% */
	.l {
		font-size: 22px;
		font-style: normal;
		font-weight: 500;
		line-height: 34px;
		/* 154.545% */
	}
}

// texts
.text_1 {
	color: $black;
	font-family: Gilroy;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	/* 160% */
}

.text_2 {
	color: $black;
	font-family: Gilroy;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	/* 150% */
}

.text_3 {
	color: $black;
	font-family: Gilroy;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	/* 157.143% */
}

// links
.link {
	color: $black;
	font-family: Gilroy;
	text-decoration: none;
	transition: all .3s ease;
	outline: none;
	background-color: transparent;
	border: none;

	&:hover {
		color: $brown_hower;
	}

	&.active {
		color: $brown_hower;
	}
}

.link_1 {
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 36px;
	/* 180% */
}

.link_2 {
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	/* 150% */
}

.link_3 {
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 22px;
	/* 157.143% */
}

// buttons, arrows
.btn {
	display: flex;
	align-items: center;
	background-color: $brown_light;
	border: none;
	outline: none;
	padding: 0 20px;
	color: $white;
	font-family: Gilroy;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 36px;
	/* 180% */
	transition: all .3s ease;

	&:hover {
		background-color: $brown_hower;
		color: $white;
	}

	&.active {
		background-color: $brown_hower;
		color: $white;
	}
}

.btn_video {
	gap: 20px;
	padding: 10px 30px;
}

.btn_link {
	gap: 10px;
	padding: 8px 20px;
	font-size: 16px;
}

.arrow {
	border-radius: 12px;
	background-color: $rey_bg;
	padding: 13px;
	display: flex;
	align-items: center;
	justify-content: center;

	svg,
	path {
		transition: all .3s ease;
	}

	&:hover {
		path {
			stroke: $brown_light;
		}
	}

	&.active {
		path {
			stroke: $brown_light;
		}
	}

	&.disabled {
		pointer-events: none;
		svg {
			opacity: .15;
		}
	}
}

.show_more {
	display: flex;
	align-items: center;
	gap: 20px;
	text-decoration: none;
	outline: none;
	border: none;
	background-color: transparent;
	color: $brown_dark;
	font-family: Gilroy;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 24px;
	/* 150% */
	transition: all .3s ease;

	span {
		position: relative;
		// border-bottom: 1px dotted $brown_dark;
		transition: all .3s ease;
		&::after{
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			border: none;
			width: 100%;
			height: 1px; /* yoki kerakli balandlik */
			background-image: repeating-linear-gradient(
			  to right,
			  $brown_dark 0,
			  $brown_dark 4px,
			  transparent 4px,
			  transparent 8px
			);
			transition: all .1s ease;
		}
	}

	path {
		stroke: $brown_light;
		transition: all .3s ease;
	}

	&:hover {
		color: $brown_hower;

		span {
			border-bottom: none;
			&::after{
				opacity: 0;
			}
		}

		path {
			stroke: $brown_hower;
		}
	}

	&.active {
		color: $brown_hower;

		span {
			border-bottom: none;
		}

		path {
			stroke: $brown_hower;
		}
	}
}

input,
textarea {
	border: none;
	outline: none;
	background-color: transparent;
	width: 100%;
	padding: 0 0 5px;
	color: $black;
	font-family: Gilroy;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	/* 160% */
	border-bottom: 1px solid $black;
	transition: all .3s ease;

	&::placeholder {
		color: $grey_text;
		font-family: Gilroy;
		font-size: 20px;
		font-style: normal;
		font-weight: 400;
		line-height: 32px;
		/* 160% */
	}

	&.error {
		border-bottom: 1px solid $brown_light;

		// color: $brown_light;
		&::placeholder {
			color: $brown_light;
		}
	}

}

textarea {
	resize: vertical;
}

/* =============== */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Gilroy;
	background: $rey_bg;
	scroll-behavior: smooth;
}

.wrapper {
	overflow: hidden;
}

.container {
	max-width: 1216px;
	width: 100%;
	margin: 0 auto;
}

ul,
ol {
	list-style: none;
}

hr {
	border: none;
	height: 1px;
	background-color: $brown_light;
}

.list_check {
	display: flex;
	flex-direction: column;
	gap: 20px;

	li {
		display: flex;
		flex-direction: column;
		gap: 22px;
	}
}

.list_check_item {
	display: flex;
	align-items: flex-start;
	gap: 15px;

	img {
		position: relative;
		top: 3px;
	}
}

.list_check_card {
	border-radius: 20px;
	background-color: $white;
	padding: 25px 40px;
	position: relative;
	margin-bottom: 10px;

	.text_3 {
		color: $grey_text;
	}

	&::before {
		content: '';
		width: 42px;
		height: 42px;
		background-color: $white;
		clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
		position: absolute;
		top: -17px;
		left: 27px;
	}
}


.list_arrow {
	display: flex;
	flex-direction: column;
	gap: 10px;
	li{
		gap: 5px;
	}
}

.list_arrow_item {
	display: flex;
	align-items: flex-start;
	gap: 15.5px;

	img {
		position: relative;
		top: 7px;
	}
}

.list_point {
	display: flex;
	flex-direction: column;
}

.list_point_item {
	display: flex;
	align-items: flex-start;
	margin-left: 40px;
	gap: 10px;

	.point {
		position: relative;
		top: 9px;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: $grey_text;
	}
}
.section_title{
	padding-bottom: 40px;
	border-bottom: 1px solid $black;
	margin-bottom: 80px;
}

.custom_accordion {
	margin-bottom: 120px;
	display: flex;
	flex-direction: column;
	gap: 20px;
  }
  
  .accordion_header {
	background-color: $white;
	border-radius: 20px;
	padding: 30px 30px 30px 72px;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	&_content{
		display: flex;
		align-items: flex-start;
		gap: 32px;
		width: 100%;
	}
	.text_2{
		max-width: 593px;
		width: 100%;
	}
  }
  .accordion_title{
	max-width: 312px;
	width: 100%;
  }
  .accordion_icon{
	width: 56px;
	height: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12px;
	background-color: $rey_bg;
  }
  .accordion_icon svg {
	transition: all 0.3s ease;
  }
  
  .accordion_header.active .icon_plus {
	display: none;
  }
  
  .accordion_header.active .accordion_icon::before {
	content: "";
	display: inline-block;
	width: 30px;
	height: 30px;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"><path d="M0 15H30" stroke="%2329292E"/></svg>');
	background-repeat: no-repeat;
	background-position: center;
  }
  .accordion_content {
	display: none;
	background-color: $white;
	border-radius: 20px;
	padding: 30px 30px 30px 72px;
	animation: fade_in 0.3s ease-in-out;
	li{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 28px 0;
		border-bottom: 1px solid $black;
		&:last-child{
			border-bottom: none;
		}
	}
  }
  
  @keyframes fade_in {
	from { opacity: 0; }
	to { opacity: 1; }
  }
  


  /* Custom Modal */
  .modal_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 46, 0.90);

	;
    z-index: 999;
    overflow-y: auto;
    align-items: flex-start;
    justify-content: center;
    padding: 60px 20px;
    /* yuqori va pastdan joy ochamiz */
    box-sizing: border-box;
}

.custom_modal {
    position: relative;
    animation: slideDown 0.3s ease;
	.swiper-wrapper{
		align-items: center;
	}
	.swiper-slide{
		background-color: $rey_bg;
	}
}
.modal_content{
	width: 54%;
	margin: 0 auto;
	padding-top: 40px;
	video, img{
		width: 100%;
		height: auto;
	}
}

@keyframes slideDown {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.modal_close {
    position: absolute;
    top: 0;
    right: -61px;
    cursor: pointer;
}
.modal_next, .modal_prev{
	position: absolute;
	// top: 35%;
	top: 50%;
	transform: translateY(-50%);
}
.modal_next{
	right: 0;
}
.modal_prev{
	left: 0;
}