html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: " ";
  content: none;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  display: inline-block;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html::-webkit-scrollbar {
  background-color: #000;
  width: 5px;
}
html::-webkit-scrollbar-thumb {
  background-color: #da1a00;
  width: 3px;
}

/* ======= Variables ========== */
h1 {
  color: #29292E;
  font-family: Gilroy;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  color: #29292E;
  font-family: Gilroy;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  /* 135% */
}

h3 {
  color: #29292E;
  font-family: Gilroy;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  /* 138.462% */
}

h4 {
  color: #29292E;
  font-family: Gilroy;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  /* 138.462% */
}

h5 {
  color: #29292E;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  /* 160% */
}
h5 .l {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px;
  /* 154.545% */
}

.text_1 {
  color: #29292E;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
}

.text_2 {
  color: #29292E;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.text_3 {
  color: #29292E;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 157.143% */
}

.link {
  color: #29292E;
  font-family: Gilroy;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
  background-color: transparent;
  border: none;
}
.link:hover {
  color: #8C7764;
}
.link.active {
  color: #8C7764;
}

.link_1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  /* 180% */
}

.link_2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
}

.link_3 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 157.143% */
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #AD937B;
  border: none;
  outline: none;
  padding: 0 20px;
  color: #FFF;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  /* 180% */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #8C7764;
  color: #FFF;
}
.btn.active {
  background-color: #8C7764;
  color: #FFF;
}

.btn_video {
  gap: 20px;
  padding: 10px 30px;
}

.btn_link {
  gap: 10px;
  padding: 8px 20px;
  font-size: 16px;
}

.arrow {
  border-radius: 12px;
  background-color: #F5F5F5;
  padding: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.arrow svg,
.arrow path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.arrow:hover path {
  stroke: #AD937B;
}
.arrow.active path {
  stroke: #AD937B;
}
.arrow.disabled {
  pointer-events: none;
}
.arrow.disabled svg {
  opacity: 0.15;
}

.show_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: transparent;
  color: #947E69;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.show_more span {
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.show_more span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 1px; /* yoki kerakli balandlik */
  background-image: repeating-linear-gradient(to right, #947E69 0, #947E69 4px, transparent 4px, transparent 8px);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.show_more path {
  stroke: #AD937B;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.show_more:hover {
  color: #8C7764;
}
.show_more:hover span {
  border-bottom: none;
}
.show_more:hover span::after {
  opacity: 0;
}
.show_more:hover path {
  stroke: #8C7764;
}
.show_more.active {
  color: #8C7764;
}
.show_more.active span {
  border-bottom: none;
}
.show_more.active path {
  stroke: #8C7764;
}

input,
textarea {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  padding: 0 0 5px;
  color: #29292E;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
  border-bottom: 1px solid #29292E;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #676771;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #676771;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #676771;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #676771;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
}
input::placeholder,
textarea::placeholder {
  color: #676771;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 160% */
}
input.error,
textarea.error {
  border-bottom: 1px solid #AD937B;
}
input.error::-webkit-input-placeholder, textarea.error::-webkit-input-placeholder {
  color: #AD937B;
}
input.error::-moz-placeholder, textarea.error::-moz-placeholder {
  color: #AD937B;
}
input.error:-ms-input-placeholder, textarea.error:-ms-input-placeholder {
  color: #AD937B;
}
input.error::-ms-input-placeholder, textarea.error::-ms-input-placeholder {
  color: #AD937B;
}
input.error::placeholder,
textarea.error::placeholder {
  color: #AD937B;
}

textarea {
  resize: vertical;
}

/* =============== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Gilroy;
  background: #F5F5F5;
  scroll-behavior: smooth;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

hr {
  border: none;
  height: 1px;
  background-color: #AD937B;
}

.list_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.list_check li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
}

.list_check_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
}
.list_check_item img {
  position: relative;
  top: 3px;
}

.list_check_card {
  border-radius: 20px;
  background-color: #FFF;
  padding: 25px 40px;
  position: relative;
  margin-bottom: 10px;
}
.list_check_card .text_3 {
  color: #676771;
}
.list_check_card::before {
  content: "";
  width: 42px;
  height: 42px;
  background-color: #FFF;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  top: -17px;
  left: 27px;
}

.list_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.list_arrow li {
  gap: 5px;
}

.list_arrow_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15.5px;
}
.list_arrow_item img {
  position: relative;
  top: 7px;
}

.list_point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list_point_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 40px;
  gap: 10px;
}
.list_point_item .point {
  position: relative;
  top: 9px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #676771;
}

.section_title {
  padding-bottom: 40px;
  border-bottom: 1px solid #29292E;
  margin-bottom: 80px;
}

.custom_accordion {
  margin-bottom: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.accordion_header {
  background-color: #FFF;
  border-radius: 20px;
  padding: 30px 30px 30px 72px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.accordion_header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
  width: 100%;
}
.accordion_header .text_2 {
  max-width: 593px;
  width: 100%;
}

.accordion_title {
  max-width: 312px;
  width: 100%;
}

.accordion_icon {
  width: 56px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px;
  background-color: #F5F5F5;
}

.accordion_icon svg {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.accordion_header.active .icon_plus {
  display: none;
}

.accordion_header.active .accordion_icon::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="none"><path d="M0 15H30" stroke="%2329292E"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
}

.accordion_content {
  display: none;
  background-color: #FFF;
  border-radius: 20px;
  padding: 30px 30px 30px 72px;
  -webkit-animation: fade_in 0.3s ease-in-out;
          animation: fade_in 0.3s ease-in-out;
}
.accordion_content li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 28px 0;
  border-bottom: 1px solid #29292E;
}
.accordion_content li:last-child {
  border-bottom: none;
}

@-webkit-keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Custom Modal */
.modal_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 46, 0.9);
  z-index: 999;
  overflow-y: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 20px;
  /* yuqori va pastdan joy ochamiz */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.custom_modal {
  position: relative;
  -webkit-animation: slideDown 0.3s ease;
          animation: slideDown 0.3s ease;
}
.custom_modal .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.custom_modal .swiper-slide {
  background-color: #F5F5F5;
}

.modal_content {
  width: 54%;
  margin: 0 auto;
  padding-top: 40px;
}
.modal_content video, .modal_content img {
  width: 100%;
  height: auto;
}

@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.modal_close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal_next, .modal_prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal_next {
  right: 0;
}

.modal_prev {
  left: 0;
}

.header {
  margin-top: 40px;
  position: relative;
  z-index: 999;
}
.header .hamburger_menu {
  display: none;
}
.header_block {
  background-color: #AD937B;
  border-radius: 15px;
  padding: 10px 10px 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.header_menus .close {
  display: none;
}
.header_menus a {
  color: #FFF;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 180% */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 2px 20px;
  border-radius: 8px;
}
.header_menus a:hover {
  background-color: #8C7764;
}
.header_menus a.active {
  background-color: #8C7764;
}
.header_contact a {
  background-color: #947E69;
  border-radius: 8px;
  padding: 2px 20px;
  color: #FFF;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 180% */
}

.footer {
  margin-bottom: 80px;
}
.footer_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_right {
  width: 592px;
}
.footer_img {
  width: 176px;
  height: 176px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 12px;
  background: #FFF;
  overflow: hidden;
  margin-bottom: 30px;
}
.footer_about {
  margin-bottom: 46px;
}
.footer_email {
  text-decoration: none;
  color: #29292E;
  font-family: Gilroy;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
  margin-bottom: 19px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer_email:hover {
  color: #676771;
}
.footer_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_socials a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.footer_socials a span {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer_socials a svg {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer_socials a:hover span {
  color: #8C7764;
}
.footer_socials a:hover svg {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer_socials a:hover svg.telegram path:nth-child(1) {
  fill: #8C7764;
}
.footer_socials a:hover svg.linkedin path {
  fill: #8C7764;
}
.footer_copyright {
  margin-top: 146px;
}
.footer form h2 {
  margin-bottom: 60px;
}
.footer form input {
  margin-bottom: 30px;
}
.footer form button {
  margin: 30px 0;
  padding: 10px 30px;
}
.footer form .text_3 {
  color: #676771;
  font-weight: 400;
}

.hero_block {
  position: relative;
  top: 24px;
  height: 820px;
}
.hero h1, .hero h5, .hero .text_1 {
  max-width: 656px;
}
.hero h1 {
  margin-bottom: 50px;
}
.hero .text_1 {
  margin-bottom: 100px;
}
.hero h5 {
  margin-bottom: 30px;
}
.hero_img {
  position: absolute;
  top: -75px;
  right: 0;
}

.keys {
  position: relative;
  z-index: 2;
}
.keys_block {
  border-radius: 30px;
  background-color: #FFF;
  padding: 80px 72px;
}
.keys_items {
  display: grid;
  grid-template-columns: calc(33.33% - 24px) calc(33.33% - 24px) calc(33.33% - 24px);
  gap: 100px 36px;
}
.keys_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.keys_icon {
  height: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activities {
  padding: 100px 0;
}
.activities_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}
.activities .activity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
.activities .activity_left {
  width: calc(35% - 32px);
}
.activities .activity_right {
  width: 65%;
}

.experience {
  margin-bottom: 120px;
}
.experience_block {
  background-color: #FFF;
  border-radius: 30px;
  padding: 60px 72px 80px;
}
.experience_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.experience_left {
  width: calc(32% - 30px);
}
.experience_right {
  width: 68%;
}
.experience_icon {
  height: 68px;
  margin-bottom: 30px;
}
.experience_icon img {
  -o-object-fit: contain;
     object-fit: contain;
}
.experience h4 {
  margin-bottom: 40px;
}
.experience .list_check .list_arrow, .experience .list_check .list_check_card {
  margin-left: 40px;
}
.experience .list_check .list_check_card {
  background-color: #F5F5F5;
}
.experience .list_check .list_check_card::before {
  display: none;
}
.experience .list_point_item {
  margin-left: 10px;
}

.awards {
  margin-bottom: 120px;
}
.awards_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}
.awards_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #29292E;
  padding-bottom: 80px;
}
.awards_wrapper:last-child {
  border-bottom: none;
}
.awards_left {
  width: calc(34% - 30px);
}
.awards_right {
  width: 66%;
}
.awards_icon {
  height: 70px;
  margin-bottom: 30px;
}
.awards_icon img {
  -o-object-fit: contain;
     object-fit: contain;
}
.awards_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.awards_item {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.awards_event {
  border-radius: 20px;
  background-color: #FFF;
  padding: 30px 40px;
}
.awards_event_date {
  color: #676771;
  margin-bottom: 10px;
}
.awards_event h5 {
  margin-bottom: 20px;
}
.awards_event .text_2 {
  margin-bottom: 20px;
}
.awards_award ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.awards_award li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
.awards .award_img_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 176px;
  height: 176px;
  padding: 15px;
  background-color: #FFF;
  border-radius: 12px;
  position: relative;
}
.awards .img_zoom {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
  outline: none;
}
.awards .award_img {
  opacity: 0.9;
}
.awards .award_img img {
  -o-object-fit: contain;
     object-fit: contain;
}
.awards_show_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 60px;
}

.letters_block {
  background-color: #FFF;
  border-radius: 30px;
  padding: 60px 72px 80px;
}
.letters .award_img_box {
  background-color: #F5F5F5;
}

@media (max-width: 1920px) {
  .container {
    max-width: 1216px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1600px) {
  .container {
    max-width: 1216px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
  /* settings */
  /* ===== */
  /* header */
  .header_block {
    border-radius: 12px;
  }
  .header_menus a {
    font-size: 16px;
    line-height: 28px;
    padding: 1px 15px;
    border-radius: 6px;
  }
  .header_contact a {
    font-size: 16px;
    line-height: 28px;
    padding: 1px 15px;
    border-radius: 6px;
  }
  /* ===== */
  /* hero*/
  .hero_block {
    height: 666px;
  }
  .hero_img img {
    width: 530px;
  }
  /* ======= */
  /* footer */
  /* ===== */
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  /* settings */
  h1 {
    font-size: 60px;
  }
  /* ===== */
  /* header */
  .header_menus {
    gap: 0;
  }
  .header_menus a {
    padding: 0 10px;
  }
  /* ===== */
  /* hero */
  .hero .text_1 {
    margin-bottom: 70px;
    max-width: 58%;
  }
  .hero h5 {
    max-width: 58%;
  }
  /* =========*/
  /* footer */
  .footer_block {
    gap: 30px;
  }
  /* ===== */
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  /* settings */
  /* ===== */
  /* header */
  /* ===== */
  /* footer */
  /* ===== */
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  /* settings */
  /* ===== */
  /* header */
  /* ===== */
  /* footer */
  /* ===== */
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
  /* settings */
  /* ===== */
  /* header */
  /* ===== */
  /* footer */
  /* ===== */
}/*# sourceMappingURL=main.css.map */