html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: " ";
  content: none;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  display: inline-block;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html::-webkit-scrollbar {
  background-color: #000;
  width: 5px;
}
html::-webkit-scrollbar-thumb {
  background-color: #da1a00;
  width: 3px;
}

/* ======= Variables ========== */
h1 {
  color: #29292E;
  font-family: Gilroy;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  color: #29292E;
  font-family: Gilroy;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 135% */
}

h3 {
  color: #29292E;
  font-family: Gilroy;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 138.462% */
}

h4 {
  color: #29292E;
  font-family: Gilroy;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 138.462% */
}

h5 {
  color: #29292E;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
}
h5 .l {
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 154.545% */
}

.text_1 {
  color: #29292E;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}

.text_2 {
  color: #29292E;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.text_3 {
  color: #29292E;
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.link {
  color: #29292E;
  font-family: Gilroy;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
  background-color: transparent;
  border: none;
}
.link:hover {
  color: #8C7764;
}
.link.active {
  color: #8C7764;
}

.link_1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 180% */
}

.link_2 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.link_3 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 157.143% */
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #AD937B;
  border: none;
  outline: none;
  padding: 0 20px;
  color: #FFF;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 180% */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #8C7764;
  color: #FFF;
}
.btn.active {
  background-color: #8C7764;
  color: #FFF;
}

.btn_video {
  gap: 20px;
  padding: 10px 30px;
}

.btn_link {
  gap: 10px;
  padding: 8px 20px;
  font-size: 16px;
}

.arrow {
  border-radius: 12px;
  background-color: #F5F5F5;
  padding: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.arrow svg, .arrow path {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.arrow:hover path {
  stroke: #AD937B;
}
.arrow.active path {
  stroke: #AD937B;
}
.arrow.disabled svg {
  opacity: 0.15;
}

.show_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: transparent;
  color: #947E69;
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.show_more span {
  position: relative;
  border-bottom: 1px dotted #947E69;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.show_more path {
  stroke: #AD937B;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.show_more:hover {
  color: #8C7764;
}
.show_more:hover span {
  border-bottom: none;
}
.show_more:hover path {
  stroke: #8C7764;
}
.show_more.active {
  color: #8C7764;
}
.show_more.active span {
  border-bottom: none;
}
.show_more.active path {
  stroke: #8C7764;
}

input, textarea {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  padding: 0 0 5px;
  color: #29292E;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  border-bottom: 1px solid #29292E;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #676771;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #676771;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #676771;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #676771;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
input::placeholder, textarea::placeholder {
  color: #676771;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
input.error, textarea.error {
  border-bottom: 1px solid #AD937B;
}
input.error::-webkit-input-placeholder, textarea.error::-webkit-input-placeholder {
  color: #AD937B;
}
input.error::-moz-placeholder, textarea.error::-moz-placeholder {
  color: #AD937B;
}
input.error:-ms-input-placeholder, textarea.error:-ms-input-placeholder {
  color: #AD937B;
}
input.error::-ms-input-placeholder, textarea.error::-ms-input-placeholder {
  color: #AD937B;
}
input.error::placeholder, textarea.error::placeholder {
  color: #AD937B;
}

textarea {
  resize: vertical;
}

/* =============== */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Gilroy;
  background: #F5F5F5;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1216px;
  width: 100%;
  margin: 0 auto;
}

ul, ol {
  list-style: none;
}

hr {
  border: none;
  height: 1px;
  background-color: #AD937B;
}

.header {
  margin-top: 40px;
}
.header .hamburger_menu {
  display: none;
}
.header_block {
  background-color: #AD937B;
  border-radius: 15px;
  padding: 10px 10px 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.header_menus .close {
  display: none;
}
.header_menus a {
  color: #FFF;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 180% */
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 2px 20px;
  border-radius: 8px;
}
.header_menus a:hover {
  background-color: #8C7764;
}
.header_menus a.active {
  background-color: #8C7764;
}
.header_contact a {
  background-color: #947E69;
  border-radius: 8px;
  padding: 2px 20px;
  color: #FFF;
  font-family: Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 180% */
}

.footer_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_right {
  width: 592px;
}
.footer_img {
  width: 176px;
  height: 176px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 12px;
  background: #FFF;
  overflow: hidden;
  margin-bottom: 30px;
}
.footer_about {
  margin-bottom: 46px;
}
.footer_email {
  text-decoration: none;
  color: #29292E;
  font-family: Gilroy;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 120% */
  margin-bottom: 19px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer_email:hover {
  color: #676771;
}
.footer_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_socials a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.footer_socials a span {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer_socials a svg {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer_socials a:hover span {
  color: #8C7764;
}
.footer_socials a:hover svg {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.footer_socials a:hover svg.telegram path:nth-child(1) {
  fill: #8C7764;
}
.footer_socials a:hover svg.linkedin path {
  fill: #8C7764;
}
.footer_copyright {
  margin-top: 146px;
}
.footer form h2 {
  margin-bottom: 60px;
}
.footer form input {
  margin-bottom: 30px;
}
.footer form button {
  margin: 30px 0;
  padding: 10px 30px;
}
.footer form .text_3 {
  color: #676771;
  font-weight: 400;
}

.hero_block {
  position: relative;
  height: 796px;
  overflow: hidden;
}
.hero h1, .hero h5, .hero .text_1 {
  max-width: 656px;
}
.hero h1 {
  margin-bottom: 50px;
}
.hero .text_1 {
  margin-bottom: 100px;
}
.hero h5 {
  margin-bottom: 30px;
}
.hero_img {
  position: absolute;
  top: -75px;
  right: 0;
}

.keys_block {
  border-radius: 30px;
  background-color: #FFF;
  padding: 80px 72px;
}
.keys h2 {
  padding-bottom: 40px;
  border-bottom: 1px solid #29292E;
  margin-bottom: 80px;
}
.keys_items {
  display: grid;
  grid-template-columns: calc(33.33% - 24px) calc(33.33% - 24px) calc(33.33% - 24px);
  gap: 100px 36px;
}
.keys_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.keys_icon {
  height: 69px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1920px) {
  .container {
    max-width: 1216px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1600px) {
  .container {
    max-width: 1216px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: 100%;
  }
}/*# sourceMappingURL=main.css.map */